/* logos das redes sociais e do projeto */
header .fblogo {
    background-image: url(../images/social_media_icons/facebook.png);
}

header .fblogo:hover {
    background-image: url(../images/social_media_icons/facebook-hover.png);
}

header .iglogo {
    background-image: url(../images/social_media_icons/instagram.png);
}

header .iglogo:hover {
    background-image: url(../images/social_media_icons/instagram-hover.png);
}

header .twlogo {
    background-image: url(../images/social_media_icons/twitter.png);
}

header .twlogo:hover {
    background-image: url(../images/social_media_icons/twitter-hover.png);
}

header .ytlogo {
    background-image: url(../images/social_media_icons/yt.png);
}

header .ytlogo:hover {
    background-image: url(../images/social_media_icons/youtube-hover.png);
}

header .redes, header .obralogo {
    width: 50%;
}

.siga-conectado {
    color: rgb(179, 179, 179);
    float: left;
    font-size: 14px;
    margin-top: 10px;
    margin-right: 25px;
}

header {
    background-color: white;
    border-bottom: 3px solid #ddd;
    display: flex;
    padding: 25px 10%;
    width: 100%;
}

header .redes a {
    float: left;
    height: 32px;
    margin-left: 5px;
    width: 32px;
}

/* vídeo e formulário */
form {
    padding-top: 20px;
}

.formulario {
    background-color: white;
    padding:18px;
    padding-bottom: 1px;
}


/* campos de texto e botão de enviar */
.texto {
    background-color: rgb(235, 235, 235);
    border: 1px rgb(139, 139, 139) solid;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 10px;
    width: 94%;
}
.enviar {
    color: white;
    background-color: rgb(118, 172, 118);
    border: 1px rgb(65, 94, 65) solid;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
}

/* corpo da página */
* {
    font-weight: 200;
}

body {
    background-color: rgb(235, 235, 235);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.conteudo{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%
}

h2 {
    color: black;
    font-size: 26px;
    font-weight: normal;
    line-height: 34px;
}

h5 {
    padding-left: 225px;
}

p {
    font-size: 14px;
}

.intro p {
    padding-bottom: 10px;
}

p, h5, h6 {
    color:gray
}

td {
    padding: 10px;
}