#obralogo {
    padding: 7px;
    padding-left: 250px;
}

#redes {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-left:470px;
}

.smlogo {
    padding-right: 5px;
}

#txrede {
    color: rgb(179, 179, 179);
    padding-right: 20px;
}